<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Document</title>
  </head>
  <body>
    <nav>
        <img src="https://placehold.co/100x100"/>
        <h3>NEXT .js</h3>
        <ul class="nav-list">
        <li><a href="/showcase">Showcase</a></li>
        <li><a href="/docs">Docs</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/templates">Templates</a></li>
        <li><a href="/Enterprise">Enterprise</a></li>
      </ul>
      <div class="btn-section">
      <button class="serch-btn">Search documentation...</button>
      <button class="deploy-btn"><i class="fa-solid fa-play fa-rotate-270" style="color: #000000;"></i>Deploy</button>
      <button class="Learn-btn">Learn</button> 
      </div>
    </nav>

    
    <header>
      <h1>The React Framework for the Web</h1>
      <h4>Used by some of the world's largest companies, Next.js enables you to create <strong>high-<br>
        quality web applications</strong> with the power of React components.</h4>
    
        <div class="button-container">
          <button class="btn btn-primary">Get Started</button>
          <button class="btn btn-secondary">Learn Next.js</button>
        </div>
        <br>
        <a class="npx-link" href="https://example.com/" rel="noreferrer noopener">▲ ~ npx create-next-app@latest</a>

   <div class="section-text">
      <h2>What's in Next.js?</h2>
      <a>Everything you need to build great products on the we
        b.</a>
   </div>
  </header>

  <div class="box">
    <div class="col-1">
      <div class="box-1">
      <img src="https://placehold.co/278x210" />
      <h3>Built-in Optimizations</h3>
      <a>Automatic Image, Font, and Script Optimizations for improved UX and Core Web Vitals.</a>
    </div>

      <div class="box-1">
        <h3>Data Fetching</h3>
        <a>Make your React component async and await your data. Next.js supports both server and client data fetching.</a>
      </div>

      <div class="box-1">
        <h3>CSS Support</h3>
        <a>Style your application with your favorite tools, including support for CSS Modules, Tailwind CSS, and popular community libraries.</a>
      </div>

      <div class="box-1">
        <h3>Client and Server Rendering</h3>
        <a>Flexible rendering and caching options, including Incremental Static Regeneration (ISR), on a per-page level.</a>
      </div>
    </div>

    <div class="col-1">

      <div class="box-2">
      <img src="https://placehold.co/278x210" />
      <h3>Dynamic HTML Streaming</h3>
      <a>Instantly stream UI from the server, integrated with the App Router and React Suspense.</a>
      </div>

      <div class="box-2">
        <h3>Data Fetching</h3>
        <a>Make your React component async and await your data. Next.js supports both server and client data fetching.</a>
      </div>

      <div class="box-2">
        <h3>Data Fetching</h3>
        <a>Make your React component async <br>
           and await your data.Next.js supports both and client data fetching.</a>
      </div>

      <div class= "box-2">
        <h3>CSS Support</h3>
        <a>Take control of the incoming request. Use code to define routing and access rules for authentication, experimentation, and internationalization.</a>
      </div>
    </div>

    <div class="col-1">
      <div class="box-3">
      <img src="https://placehold.co/278x210" />
      <h3>React Server Components</h3>
      <a>Add components without sending additional client-side JavaScript. Built on the latest React features.</a>
     </div>

      <div class="box-3">
        <h3>CSS Support</h3>
        <a>Style your application with your favorite tools, including support for CSS Modules, Tailwind CSS, and popular community libraries.</a>
      </div>


      <div class="box-black">
        <h3>Next.js 15</h3>
        <a>The power of full-stack to the frontend. <br>
          Read the release notes.
       <button class="btn-arrow"><i class="fa-solid fa-arrow-right" style="color: #0749bb;"></i></button></a>
      </div>


    </div>
















  </div>


  <h2>Built on a foundation of fast, production-grade tooling</h2>
  



  <div class="box-4">
    <div class="cards-box">
      <img src="https://placehold.co/220x200" />
      <h3>React</h3>
      <a>The library for web and native user interfaces.<br>
        Next.js is built on the latest React features, including<br>
        Server Components and Actions.</a>
      </div>

  <div class="cards-box">
    <img src="https://placehold.co/220x200" />
    <h3>React</h3>
      <a>The library for web and native user interfaces.<br>
         Next.js is built on the latest React features, including<br>
        Server Components and Actions.</a>
  </div>
  <div class="cards-box">
    <img src="https://placehold.co/200x150" />
    <h3>React</h3>
      <a>The library for web and native user interfaces.<br>
        Next.js is built on the latest React features, including<br>
        Server Components and Actions.</a>
  </div>  
  </div>
   <div class="container">
    <!-- Sección de texto -->
    <div class="text-section">
      <h1>Get started in seconds</h1>
      <p>Vercel is a frontend cloud from the creators of Next.js, making it easy to get started with Next.js quickly.</p>

    <!-- Sección de tarjetas -->
    <div class="card-box">
      <div class="card">
        <img src="https://placehold.co/278x210" />
        <h3>Next.js Boilerplate</h3>
        <p>A Next.js starter from create-next-app.</p>
      </div>
      <div class="card">
        <img src="https://placehold.co/278x210" />
        
        <h3>Image Gallery</h3>
        <p>An image gallery integration with Cloudinary.</p>
      </div>
      <div class="card">
        <img src="https://placehold.co/278x210" />
        
        <h3>Next.js Commerce</h3>
        <p>An all-in-one starter for high performance e-commerce.</p>
      </div>

    </div>

      <button>Deploy Next.js to Vercel</button>
    </div>

  </div>



  <div class="images">
    <div class="img-card">
        <div class="img">
            <img src="https://placehold.co/388x315" alt="Image 1" />
        </div>
        <div class="img">
            <img src="https://placehold.co/388x210" alt="Image 2" />
        </div>
    </div>
    <div class="img-card">
        <div class="img">
            <img src="https://placehold.co/301x608" alt="Image 3" />
        </div>
    </div>
    <div class="img-card">
        <div class="img">
            <img src="https://placehold.co/390x312" alt="Image 4" />
        </div>
        <div class="img-subcards">
            <div class="img">
                <img src="https://placehold.co/178x125" alt="Image 5" />
            </div>
            <div class="img">
                <img src="https://placehold.co/178x125" alt="Image 6" />
            </div>
        </div>
    </div>
    <div class="img-card">
        <div class="img">
            <img src="https://placehold.co/390x311" alt="Image 7" />
        </div>
        <div class="img">
            <img src="https://placehold.co/390x311" alt="Image 8" />
        </div>
    </div>
    <!-- Gradiente -->
    <div class="gradient"></div>
</div>







  <div class="box-5">
    <div class="cards-box2">
      <img src="https://placehold.co/220x200" />
      <h3>React</h3>
      <a>The library for web and native user interfaces.<br>
        Next.js is built on the latest React features, including<br>
        Server Components and Actions.</a>
      </div>

  <div class="cards-box2">
    <img src="https://placehold.co/220x200" />
    <h3>React</h3>
      <a>The library for web and native user interfaces.<br>
         Next.js is built on the latest React features, including<br>
        Server Components and Actions.</a>
  </div>
  <div class="cards-box2">
    <img src="https://placehold.co/200x150" />
    <h3>React</h3>
      <a>The library for web and native user interfaces.<br>
        Next.js is built on the latest React features, including<br>
        Server Components and Actions.</a>
  </div>  
  </div>










    <footer>
      <div class="footer-content">
        <p>&copy; 2025 Mi Sitio Web. Todos los derechos reservados.</p>
        <p><a href="#">Política de Privacidad</a> | <a href="#">Términos de Servicio</a></p>
    </div>
    </footer>
  </body>
</html>
